[submodule "template-src/ai-mksaas-template"]
	path = template-src/ai-mksaas-template
	url = git@github.com:xueaifu/ai-mksaas-template.git
[submodule "template-src/ai-ship-fast-template"]
	path = template-src/ai-ship-fast-template
	url = git@github.com:xueaifu/ai-ship-fast-template.git
[submodule "template-src/ai-shipany-template-one"]
	path = template-src/ai-shipany-template-one
	url = git@github.com:xueaifu/ai-shipany-template-one.git
[submodule "template-src/ai-shipany-template-two"]
	path = template-src/ai-shipany-template-two
	url = git@github.com:xueaifu/ai-shipany-template-two.git
[submodule "template-src/ai-supastarter-template"]
	path = template-src/ai-supastarter-template
	url = git@github.com:xueaifu/ai-supastarter-template.git
[submodule "src/analytics-core"]
	path = src/analytics-core
	url = git@github.com:simpletrack/analytics-core.git
[submodule "src/simpletrack-saas"]
	path = src/simpletrack-saas
	url = git@github.com:simpletrack/simpletrack-saas.git
